@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Riffle';
    src: url('/riffle.ttf');
    font-weight: normal;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
